@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.fontdiner-swanky-regular {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
}

.nunito-light {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
  
.text-custom-red {
    color: #f30;
}

.bg-custom-red {
    background-color: #f30;
}

.text-custom-blue {
    color: #03f;
}

.bg-custom-blue {
    background-color: #03f;
}

.text-custom-purple {
    color: #f3f;
}

.bg-custom-purple {
    background-color: #f3f;
}

.bg-custom-black {
    background-color: #000;
}

html, body {
    background-color: #000;
}

.w-67 {
    width: 67%;
}

.swanky-button {
    border-radius: 100%;
    padding: 10px 20px;
}

.swanky-button:hover {
    color: #fff;
    transform: scale(1.2);
}

.btn-custom-blue {
    background-color: #03f;
    color: #fff;
}

.btn-custom-red {
    background-color: #f30;
    color: #fff;
}

.btn-custom-purple {
    background-color: #f3f;
    color: #fff;
}

.step-box {
    padding: 1rem;
    border-radius: 8px;
    width: 250px;
    color: #101;
}

.step-box > h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.step-box > p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}