@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
    --custom-red: #f30;
    --custom-blue: #03f;
    --custom-purple: #f3f;
    --custom-muted-red: #810;
    --custom-muted-blue: #018;
    --custom-muted-purple: #818;
    --custom-muted-white: #aaa;
    --tile-size: 90px;
}

.fontdiner-swanky-regular {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
}

.nunito-light {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
  
.text-custom-red {
    color: var(--custom-red);
}

.bg-custom-red {
    background-color: var(--custom-red);
    color: white;
}

.bg-custom-muted-red {
    background-color: var(--custom-muted-red);
    color: var(--custom-muted-white);
}

.text-custom-blue {
    color: var(--custom-blue);
}

.bg-custom-blue {
    background-color: var(--custom-blue);
    color: white;
}

.bg-custom-muted-blue {
    background-color: var(--custom-muted-blue);
    color: var(--custom-muted-white);
}

.bg-custom-muted-white {
    background-color: var(--custom-muted-white);
    color: #000;
}

.text-custom-purple {
    color: var(--custom-purple);
}

.bg-custom-purple {
    background-color: var(--custom-purple);
    color: white;
}

.bg-custom-muted-purple {
    background-color: var(--custom-muted-purple);
    color: var(--custom-muted-white);
}

.bg-custom-black {
    background-color: #000;
}

html, body {
    background-color: #000;
}

.w-67 {
    width: 67%;
}

.swanky-button {
    border-radius: 100%;
    padding: 10px 20px;
}

.swanky-button:hover {
    color: #fff;
    transform: scale(1.2);
}

.btn-custom-blue {
    background-color: var(--custom-blue);
    color: #fff;
}

.btn-custom-red {
    background-color: var(--custom-red);
    color: #fff;
}

.btn-custom-purple {
    background-color: var(--custom-purple);
    color: #fff;
}

.step-box {
    padding: 1rem;
    border-radius: 8px;
    width: 250px;
    color: #101;
}

.step-box > h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.step-box > p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.word-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.not-a-word-button {
    background-color: var(--custom-red);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

.not-a-word-button:hover {
    background-color: #d20;
    transform: scale(1.1);
}

.submit-button {
    background-color: var(--custom-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

.submit-button:hover {
    background-color: #028;
    transform: scale(1.1);
}

.feedback-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 16px;
}

.letter-tile-container {
    width: var(--tile-size);
}

.letter-tile {
    height: var(--tile-size);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 50px;
}

.feedback-button:hover {
    color: white;
    transform: scale(1.15);
}

.cursor-pointer {
    cursor: pointer;
}